rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /historico/{docId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if request.auth != null;
    }

    match /usuarios/{userId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    match /departamentos/{docId} {
      allow read: if true;
      allow create: if true;
      allow update: if true;
      allow delete: if true;
    }
  }
}
